/* Predefined properties*/
:root {
    --colorPink: #A70073;
    --colorBarbie: #F76DC2;
    --colorBlue: #00284A;
    --colorWhite: #FEFFF1;
    --colorBlack: #11110F;
    --colorBarnie: #4800A6;
    --logotypeFont: 'Chau Philomene One', sans-serif;
    --principalFont: 'ABeeZee', sans-serif;
}

/* other predefined properties*/
* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--colorBlack);
    /* background-image: url(./images/collage.png); */
    background-size: cover;
}

/* Log In Section*/

/*header section*/
header {
    display: flex;
    justify-content: center;
}

#logotypeDiv {
    background-color: var(--colorBlue);
    width: 30rem;
    height: 9.5rem;
    border-radius: 0 0 2rem 2rem;
}

#logotypeName {
    color: var(--colorWhite);
    font-family: var(--logotypeFont);
    font-size: 4.5rem;
    text-align: center;
    margin-top: 2.5rem;
}

/*login box section*/

#sectionLogIn {
    display: flex;
    justify-content: center;
}

#logInBox {
    background-color: var(--colorBlue);
    width: 30rem;
    height: 27rem;
    border-radius: 2rem;
    margin-top: 12rem;
    padding: 2rem;
}

#logInText {
    font-family: var(--principalFont);
    font-size: 3rem;
    color: var(--colorWhite);
}

.inputBox {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.pinkBox {
    width: 3rem;
    height: 2.5rem;
    background-color: var(--colorPink);
    border-radius: 0.5rem 0 0 0.5rem;
}

#userName,
#userPass {
    width: 23rem;
    height: 2.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    font-size: 1rem;
}

#logInButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logInButton {
    width: 8.9rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: var(--colorPink);
    color: var(--colorWhite);
    border: none;
    border-radius: 0.5rem;
    margin: auto;

}

#logInButton:hover {
    cursor: pointer;
    background-color: var(--colorBarnie);
}

.textLogInBox {
    font-size: 1.4rem;
    color: var(--colorWhite);
    font-family: var(--principalFont);
    text-align: center;
    margin: 1rem 0;
}

#googleImg {
    width: 10rem;
    height: 2.5rem;
}

span {
    color: var(--colorBarbie);
    font-size: 1.4rem;
    font-family: var(--principalFont);
    margin-left: 0.5rem;
}

span:hover {
    cursor: pointer;
    color: var(--colorPink);
}

@media (min-width: 768px) {
    /* Log In Section*/

    /*header section*/
    #logotypeDiv {
        width: 100%;
        border-radius: 0 0;
    }

    #logotypeName {
        font-size: 6rem;
        margin-top: 1rem;
    }

    /*login box section*/
    #logInBox {
        width: 60rem;
        height: 35.5rem;
        padding: 3rem;
    }

    #logInText {
        font-size: 4rem;
        margin-top: -1rem;
    }

    .inputBox {
        margin: 2rem 0;
        justify-content: center;
    }

    .pinkBox {
        width: 4rem;
        height: 3.5rem;
    }

    #userName,
    #userPass {
        width: 45rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }

    #logInButton {
        width: 8rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .textLogInBox {
        font-size: 1.7rem;
    }

    #googleImg {
        width: 15rem;
        height: 3rem;
    }

    span {
        font-size: 1.7rem;
        margin-left: 1rem;
    }
}

/*PROPIEDADES TEMPORALES*/

.titulo1 {
    font-family: var(--principalFont);
    font-size: 5rem;
    color: var(--colorWhite);
}

.boton1 {
    width: auto;
    height: 3rem;
    font-size: 1.5rem;
}


/* HOME */

#homeHeader {
    height: 9.5rem;
    width: auto;
    background-color: var(--colorBlue);
    background-image: url(https://i.blogs.es/ccecab/blade-runner-2049-critica-espinof/1366_2000.jpeg);
    background-size: 125%;
    background-position: center bottom;
}

#homeTitle {
    font-size: 3rem;
    font-family: var(--logotypeFont);
    color: var(--colorWhite);
    position: relative;
    top: 3rem;
    right: 7rem;
}

/* This is for hamburger menu*/

.hamburgermenu {
    display: block;
    height: 2.5rem;
    width: 3.5rem;
    position: absolute;
    top: 3.9rem;
    right: 3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lines {
    background-color: var(--colorWhite);
    height: 0.5rem;
    width: 3.4rem;
    border-radius: 1rem;
}

.lineone {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.linetwo {
    transition: transform 0.2s ease-in-out;
}

.linethree {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

/*Hamburger menu ends here*/

#createpostBox {
    height: 10.5rem;
    width: 32rem;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border-radius: 1rem;
    margin: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#typeMovie,
#typeReview {
    width: 30rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
}

#typeMovie {
    height: 1.6rem;
}

#typeReview {
    height: 4.3rem;
    margin-top: 0.5rem;
}

#shareReviewButton {
    height: 1.6rem;
    margin-top: 0.5rem;
    background-color: var(--colorPink);
    border-radius: 0.5rem;
    border: none;
    color: var(--colorWhite);
    margin-right: 1rem;
    margin-top: 0.8rem;
    align-self: flex-end;
    width: 6rem;
    font-size: 0.8rem;
}

#reviewsText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 32rem;
    margin: 2rem 2.5rem;
}

#reviewsLine {
    height: 0.1rem;
    width: 22rem;
    background-color: #2f2f2f;
    border: none;
    border-radius: 0.5rem;
}

h3 {
    color: var(--colorWhite);
    font-family: var(--principalFont);
    font-size: 1.6rem;
}

#reviewBox {
    height: auto;
    width: 32rem;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border-radius: 1rem;
    margin: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: var(--principalFont);
}

#womanprofileimg {
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
    align-self: flex-start;
    border: 0.1rem solid var(--colorWhite);
}

#generalinfo {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

#userAndMovieInfo {
    width: 22rem;
    justify-items: flex-start;
}

#writtenreview {
    max-width: 30rem;
    text-align: justify;
    margin-top: 1rem;
    font-size: 0.7rem;
}

#userNameHome {
    font-size: 1.4rem;
}

#movieNameHome {
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.icon-tabler-heart {
    align-self: flex-end;
}