/* Predefined properties*/
:root {
    --colorPink: #A70073;
    --colorBarbie: #F76DC2;
    --colorBlue: #00284A;
    --colorWhite: #FEFFF1;
    --colorBlack: #11110F;
    --colorBarnie: #4800A6;
    --logotypeFont: 'Chau Philomene One', sans-serif;
    --principalFont: 'ABeeZee', sans-serif;
}

/* other predefined properties*/
* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--colorBlack);
    /* background-image: url(./images/collage.png); */
    background-size: cover;
}

/* Log In Section*/

/*header section*/
header {
    display: flex;
    justify-content: center;
}

#logotypeDiv {
    background-color: var(--colorBlue);
    width: 30rem;
    height: 9.5rem;
    border-radius: 0 0 2rem 2rem;
}

#logotypeName {
    color: var(--colorWhite);
    font-family: var(--logotypeFont);
    font-size: 4.5rem;
    text-align: center;
    margin-top: 2.5rem;
}

/*login box section*/

.labels {
    font-family: var(--principalFont);
    color: var(--colorWhite);
    font-size: 1rem;
}

#sectionLogIn,
#registerSection {
    display: flex;
    justify-content: center;
}

#logInBox {
    background-color: var(--colorBlue);
    width: 30rem;
    height: auto;
    border-radius: 2rem;
    margin-top: 12rem;
    padding: 2rem;
}

#logInText {
    font-family: var(--principalFont);
    font-size: 3rem;
    color: var(--colorWhite);
    margin-bottom: 0.5rem;
}

.inputBox {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.pinkBox {
    width: 3rem;
    height: 2.5rem;
    background-color: var(--colorPink);
    border-radius: 0.5rem 0 0 0.5rem;
}

#userName,
#userPass {
    width: 23rem;
    height: 2.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    font-size: 1rem;
}

#logInButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logInButton {
    width: 8.9rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: var(--colorPink);
    color: var(--colorWhite);
    border: none;
    border-radius: 0.5rem;
    margin: auto;

}

#logInButton:hover {
    cursor: pointer;
    background-color: var(--colorBarnie);
}

.textLogInBox {
    font-size: 1.4rem;
    color: var(--colorWhite);
    font-family: var(--principalFont);
    text-align: center;
    margin: 1rem 0;
}

#googleImg {
    width: 9.5rem;
    height: 2.3rem;
    background-image: url('./images/btn_google_signin_dark_normal_web.png');
    background-size: cover;
    border: none;
    background-color: var(--colorBlue);
}

#googleImg:hover{
    background-image: url('./images/btn_google_signin_dark_focus_web.png');
}

#googleImg:active{
    background-image: url('./images/btn_google_signin_dark_pressed_web.png');
}

span {
    color: var(--colorBarbie);
    font-size: 1.4rem;
    font-family: var(--principalFont);
    margin-left: 0.5rem;
    text-decoration: underline;
}

span:hover {
    cursor: pointer;
    color: var(--colorPink);
}

@media (min-width: 768px) {
    /* Log In Section*/

    /*header section*/
    #logotypeDiv {
        width: 100%;
        border-radius: 0 0;
    }

    #logotypeName {
        font-size: 6rem;
        margin-top: 1rem;
    }

    /*login box section*/
    #logInBox {
        width: 60rem;
        height: auto;
        padding: 3rem;
    }

    #logInText {
        font-size: 4rem;
        margin-top: -1rem;
        margin-bottom: 2rem;
    }

    .labels {
        font-size: 2rem;
    }

    .inputBox {
        margin: 2rem 0;
        justify-content: center;
    }

    .pinkBox {
        width: 4rem;
        height: 3.5rem;
    }

    #userName,
    #userPass {
        width: 45rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }

    #logInButton {
        width: 8rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .textLogInBox {
        font-size: 1.7rem;
    }

    #googleImg {
        width: 15.1rem;
        height: 3.6rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    span {
        font-size: 1.7rem;
        margin-left: 1rem;
    }
}

/*PROPIEDADES TEMPORALES*/

.titulo1 {
    font-family: var(--principalFont);
    font-size: 5rem;
    color: var(--colorWhite);
}

.boton1 {
    width: auto;
    height: 3rem;
    font-size: 1.5rem;
}


/* HOME */

#homeHeader {
    height: 9.5rem;
    width: auto;
    background-color: var(--colorBlue);
    background-image: url(./images/headerHomeImg.png);
    background-size: 200%;
    background-position: center bottom;
}

#homeTitle {
    font-size: 3rem;
    font-family: var(--logotypeFont);
    color: var(--colorWhite);
    position: relative;
    top: 3rem;
    right: 11rem;
}

/* This is for hamburger menu*/

.hamburgermenu {
    display: block;
    height: 2.5rem;
    width: 3.5rem;
    position: absolute;
    top: 3.9rem;
    right: 3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lines {
    background-color: var(--colorWhite);
    height: 0.5rem;
    width: 3.4rem;
    border-radius: 1rem;
}

.lineone {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.linetwo {
    transition: transform 0.2s ease-in-out;
}

.linethree {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

/*Hamburger menu ends here*/

/* Create post box*/

#createpostBox {
    height: auto;
    width: 32rem;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border-radius: 1rem;
    margin: 1rem 2.6rem 2rem 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#typeMovie,
#typeReview {
    width: 30rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
    font-family: var(--principalFont);
}

#typeMovie {
    height: 1.6rem;
}

#typeReview {
    height: 4.3rem;
    margin-top: 0.5rem;
}

#shareReviewButton {
    height: 1.6rem;
    margin-top: 0.5rem;
    background-color: var(--colorPink);
    border-radius: 0.5rem;
    border: none;
    color: var(--colorWhite);
    margin-right: 1rem;
    margin-top: 0.8rem;
    align-self: flex-end;
    width: 6rem;
    font-size: 0.8rem;
}

#shareReviewButton:hover {
    cursor: pointer;
    background-color: var(--colorBarnie);
}

/*Division line*/

#reviewsText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 32rem;
    height: 1rem;
    margin: 2rem 2.6rem;
}

#reviewsLine {
    height: 0.1rem;
    width: 23rem;
    background-color: #2f2f2f;
    border: none;
    border-radius: 0.5rem;
}


h3 {
    color: var(--colorWhite);
    font-family: var(--principalFont);
    font-size: 1.6rem;
}

/*Published Post*/

.reviewBox {
    height: auto;
    width: 32rem;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border-radius: 1rem;
    margin: 2rem 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: var(--principalFont);
}

.womanprofileimg {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50rem;
    align-self: flex-start;
    border: 0.1rem solid var(--colorWhite);
}

.generalinfo {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.userAndMovieInfo {
    width: 22rem;
    justify-items: flex-start;
}

.writtenreview {
    max-width: 25rem;
    text-align: justify;
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.6;
}

.userNameHome {
    font-size: 1.2rem;
}

.movieNameHome {
    font-size: 1rem;
    margin-top: 0.2rem;
}

.icon-tabler-heart {
    align-self: flex-end;
}

/*Meanwhile buttons for go back to log in and go to profile*/

#meanWhileDiv {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: 9rem;

}

.meanWhile {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    font-family: var(--principalFont);
    color: var(--colorWhite);
    background-color: var(--colorPink);
}

.meanWhile:hover {
    cursor: pointer;
    background-color: var(--colorBarnie);
}

@media (min-width: 768px) {
    /* Home Section*/

    /*header section*/
    #homeHeader {
        height: 9.5rem;
        width: auto;
        background-size: 108%;
    }

    #homeTitle {
        font-size: 4rem;
        top: 3rem;
        right: 26rem;
    }

    /* This is for hamburger menu*/

    .hamburgermenu {
        height: 3rem;
        width: 3.5rem;
        top: 3.9rem;
        right: 4rem;
    }

    /*Hamburger menu ends here*/

    /*Create Post Box*/

    #createpostBox {
        height: 17rem;
        width: 52rem;
        margin: 5rem 12rem;
        padding: 2rem;
    }

    #typeMovie,
    #typeReview {
        width: 48rem;
        font-size: 2rem;
    }

    #typeMovie {
        height: 3rem;
    }

    #typeReview {
        height: 8rem;
        margin-top: 1.5rem;
    }

    #shareReviewButton {
        height: 4rem;
        width: 10rem;
        margin-right: 0rem;
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    /*Division line*/

    #reviewsText {
        width: 52rem;
        margin: 5rem 12rem;
        justify-content: space-between;
    }

    #reviewsLine {
        height: 0.3rem;
        width: 36rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    /*Published Post*/

    .reviewBox {
        height: auto;
        width: 52rem;
        margin: 5rem 12rem;
        padding: 2rem;
    }

    .womanprofileimg {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50rem;
        border: 0.2rem solid var(--colorWhite);
    }

    .generalinfo {
        width: 48.5rem;
    }

    .userAndMovieInfo {
        width: 35rem;
    }

    .writtenreview {
        max-width: 45rem;
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    .userNameHome {
        font-size: 3rem;
    }

    .movieNameHome {
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    .icon-tabler-dots {
        width: 3rem;
        height: 3rem;
    }

    .icon-tabler-heart {
        align-self: flex-end;
        width: 3rem;
        height: 3rem;
    }

    /*Meanwhile buttons for go back to log in and go to profile*/

    #meanWhileDiv {
        width: 48rem;
        margin-left: 13.5rem;
        display: flex;
        justify-content: space-between;
    }

    .meanWhile {
        height: 4rem;
        width: 18rem;
        font-size: 3rem;
    }

    .meanWhile:hover {
        cursor: pointer;
        background-color: var(--colorBarnie);
    }

    /* here ends div of meanwhile buttons*/

}

@media (min-width: 1025px) {

    /* Home Section*/

    /*header section*/
    #homeHeader {
        background-size: 100% 100%;
    }

    #homeTitle {
        right: 54rem;
    }

    /* This is for hamburger menu*/

    .hamburgermenu {
        right: 5rem;
    }

    /*Hamburger menu ends here*/

    /*Create Post Box*/

    #createpostBox {
        width: 60rem;
        margin: 5rem 36rem 2rem 36rem;
        padding: 2rem;
    }

    #typeMovie,
    #typeReview {
        width: 56rem;
        font-size: 1.5rem;
    }

    #typeReview {
        height: 10rem;
    }


    #shareReviewButton {
        height: 2.5rem;
        width: 10rem;
        margin-right: 0rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

    /*Division line*/

    #reviewsText {
        width: 60rem;
        margin: 0rem 36rem;
    }

    #reviewsLine {
        height: 0.2rem;
        width: 40rem;
    }

    /*Published Post*/

    .reviewBox {
        height: auto;
        width: 60rem;
        margin: 2rem 36rem;
        padding: 2rem;
    }

    .generalinfo {
        width: 56rem;
    }

    .userAndMovieInfo {
        width: 44rem;
    }

    .writtenreview {
        max-width: 53rem;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .userNameHome {
        font-size: 2.2rem;
    }

    .movieNameHome {
        font-size: 1.7rem;
        margin-top: 0.5rem;
    }

    .icon-tabler-dots {
        width: 2.5rem;
        height: 2.5rem;
    }

    .icon-tabler-heart {
        align-self: flex-end;
        width: 2.5rem;
        height: 2.5rem;
    }

    /*Meanwhile buttons for go back to log in and go to profile*/

    #meanWhileDiv {
        width: 48rem;
        margin-left: 44rem;
        display: flex;
        justify-content: space-between;
    }

    .meanWhile {
        height: 2rem;
        width: 15rem;
        font-size: 1.5rem;
    }


    .meanWhile:hover {
        cursor: pointer;
        background-color: var(--colorBarnie);
    }

    /* here ends div of meanwhile buttons*/

}

/* PROFILE */

#profileHeader {
    width: 100%;
    height: 21rem;
    border-radius: 0 0 12.5rem 12.5rem;
    background-color: var(--colorBlue);
    background-image: url('./images/cover-profile-rotate.jpeg');
    background-size: 125%;
    background-position: center bottom;
    display: flex;
    justify-content: space-between;
}

#profileTitle {
    font-size: 3rem;
    font-family: var(--logotypeFont);
    color: var(--colorWhite);
    position: relative;
    top: 3rem;
    left: 2rem;
    align-self: flex-start;
}

.profileMenu {
    display: flex;
    flex-direction: column;
    width: 10rem;
    align-items: flex-end;
    margin-top: 2rem;
}

.buttonReturnHome,
.buttonLogOut {
    width: 8rem;
    height: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--colorPink);
    color: var(--colorWhite);
    font-family: var(--principalFont);
}

#userProfileImg {
    border-radius: 50rem;
    width: 14.5rem;
    height: 14.5rem;
    position: absolute;
    top: 12rem;
    left: 11.3rem;
    border: 0.3rem solid var(--colorWhite);
}

.userNameProfile {
    color: var(--colorWhite);
    font-size: 2rem;
    font-family: var(--principalFont);
    text-align: center;
    margin-top: 6.5rem;
}

#userQuote {
    color: var(--colorWhite);
    font-family: var(--principalFont);
    font-size: 1rem;
    text-align: center;
    width: 32rem;
    margin: 0.5rem 2.5rem 2rem 2.5rem;
}

#reviewText {
    display: flex;
    flex-direction: row;
    width: 32rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5rem;
}

.reviewsLineTwo {
    width: 32rem;
    margin: 0 2.5rem;
    height: 0.1rem;
    background-color: #2f2f2f;
    border: none;
    border-radius: 0.5rem;
}

.reviewsLineThree {
    width: 18rem;
    margin-left: 4.3rem;
    height: 0.1rem;
    background-color: #2f2f2f;
    border: none;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {

    #profileHeader {
        height: 15rem;
        border-radius: 0 0 6.5rem 6.5rem;
        background-image: url('./images/cover-profile-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #profileTitle {
        font-size: 4rem;
        position: relative;
        top: 4rem;
        left: 6rem;
    }

    .profileMenu {
        display: flex;
        flex-direction: row;
        width: 25rem;
        align-items: inherit;
        margin-top: 0rem;
    }

    .buttonReturnHome,
    .buttonLogOut {
        position: absolute;
        top: 18rem;
        width: 12rem;
        height: 3.5rem;
        font-size: 2rem;
        border: 0.1rem solid var(--colorPink);
        border-radius: 1.5rem;
        background-color: inherit;
        color: var(--colorPink);
    }

    .buttonLogOut {
        margin-left: 0.5rem;
        right: 6rem;
    }

    .buttonReturnHome {
        right: 20rem;
    }

    .buttonReturnHome:hover,
    .buttonLogOut:hover {
        color: var(--colorWhite);
        border: 0.2rem solid var(--colorWhite);
        box-shadow: -0.5rem -0.5rem 10rem #f76dc262;
    }

    #userProfileImg {
        top: 18rem;
        left: 12rem;
    }

    .userNameProfile {
        width: 32rem;
        text-align: center;
        position: absolute;
        top: 28rem;
        left: 3rem;
    }

    #userQuote {
        color: var(--colorWhite);
        font-family: var(--principalFont);
        font-size: 1rem;
        text-align: center;
        width: 32rem;
        margin: 0.5rem 2.5rem 2rem 2.5rem;
    }

    #reviewText {
        grid-column: 2 / 2;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        width: 32rem;
        justify-content: space-between;
        align-items: center;
        margin: 0 2.5rem;
    }

    .reviewsLineTwo {
        width: 32rem;
        margin: 0 2.5rem;
        height: 0.1rem;
        background-color: #2f2f2f;
        border: none;
        border-radius: 0.5rem;
    }

    .reviewsLineThree {
        width: 18rem;
        margin-left: 4.3rem;
        height: 0.1rem;
        background-color: #2f2f2f;
        border: none;
        border-radius: 0.5rem;
    }
}

/* Register section */

#registerBox {
    background-color: var(--colorBlue);
    width: 30rem;
    height: auto;
    border-radius: 2rem;
    margin: 5rem 0;
    padding: 2rem;
}

#registerText {
    font-family: var(--principalFont);
    font-size: 3rem;
    color: var(--colorWhite);
    margin-bottom: 0.5rem;
}

#createusername,
#inputemail,
#createpass,
#confirmpass {
    width: 23rem;
    height: 2.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    font-size: 1rem;
}

#showtimeButton {
    width: 8.9rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: var(--colorPink);
    color: var(--colorWhite);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem auto auto auto;
}

#privacyText {
    font-family: var(--principalFont);
    font-size: 1rem;
    color: var(--colorBarbie);
    align-items: center;
    margin-left: 0.5rem;
    text-decoration: underline;
}

#registerButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textregisterBox {
    font-size: 1.4rem;
    color: var(--colorWhite);
    font-family: var(--principalFont);
    text-align: center;
    margin: 1rem 0;
}

#termsConditions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 0;
}

@media (min-width: 768px) {

    #createusername,
    #inputemail,
    #createpass,
    #confirmpass,
    #privacyText {
        width: 45rem;
        height: 3.44rem;
        font-size: 1.5rem;
    }

    #registerBox {
        width: 60rem;
        height: auto;
        padding: 3rem;
    }

    #termsCheckbox {
        height: auto;
    }

}

.registerErrorMessage {
    width: auto;
    height: auto;
    color: var(--colorWhite);
    background-color: red;
    font-size: 1rem;
    font-family: var(--principalFont);
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

#privacyText:hover {
    cursor: pointer;
    color: var(--colorWhite);
    text-decoration: none;
}

#greetingUserText { 
    font-size: 2rem;
    font-family: var(--principalFont);
    color: var(--colorWhite);
    margin-top: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    #greetingUserText {
        font-size: 3.5rem;
        margin-top: 2rem;
    }
}